<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014966200678-3l68g53uko5euitvbjitqiamjbplhuib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014966200678-3l68g53uko5euitvbjitqiamjbplhuib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014966200678-rus8mk4biaqjorkbk9u4ktv31u4qhv2n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlTnn2foYI9fyl4ZwaC6AprR0kLg1us7w</string>
	<key>GCM_SENDER_ID</key>
	<string>1014966200678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photosGallery</string>
	<key>PROJECT_ID</key>
	<string>new-gallery-b7b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>new-gallery-b7b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014966200678:ios:99b62c7a4e333cfab240a7</string>
</dict>
</plist>
